<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registrar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="nome">
            <mat-error *ngIf="registroForm?.get('nome')?.hasError('required')">
              O nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="registroForm?.get('email')?.hasError('required')">
              Email é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="CPF" formControlName="cpf">
            <mat-error *ngIf="registroForm?.get('cpf')?.hasError('required')">
              CPF é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Celular" formControlName="celular">
          </mat-form-field>
        </div>
      </div>
      <!-- TODO: bugfix: conhecimentos does not work propely -->
      <div class="row">
        <div class="col">
          <ul>
            <li *ngFor="let conhecimento of conhecimentos; let i = index">
              <mat-checkbox>
                {{ conhecimento }}
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <!--
        <div class="col">
          <mat-form-field class="full-width">
            Conhecimentos - Escolha no mínimo 1 e no máximo 3
          </mat-form-field>
          <div class="card">
            <div class="card-body" name="conhecimentos[]" id="conhecimentos" formArrayName="conhecimentos">
              <div *ngFor="let conhecimento of conhecimentos; let i = index">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" [formControlName]="i">
                  <label class="form-check-label" for="flexSwitchCheckDefault">{{ conhecimento }}</label>
                </div>
              </div>
            </div>
            <mat-error *ngIf="registroForm?.get('conhecimentos')?.hasError('minMaxSelected')">
              Selecione entre 1 e 3 conhecimentos.
            </mat-error>
          </div>
        </div>
         -->
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      {{ registroForm.value | json }}
    </mat-card-actions>
  </mat-card>
</form>